body {
  font-family: 'Arial', sans-serif;
  background-color: #1b1b1b;
  color: #f0f0f0;
  text-align: center;
}

.estilo1 {
    max-width: 200px;
    
    background-color: #ffffe6;
    padding: 10px;
  border-radius: 5px;
    color: #f0f0f0;
  opacity: 0.5;
    position: absolute;
  text-align: center;
    z-index: 1;

section {
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  
  color: #f0f0f0;
  
  text-align: center;
}

img {
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}

actual {
  
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  background-color: #1b1b1b;
  color: #f0f0f0;
  text-align: center;
}

input, button {
  padding: 5px 10px;
  margin: 5px;
}

.barra-exp {
  height: 15px;
  background-color: #444;
  border-radius: 8px;
  margin: 5px 0;
  width: 100%;
}

.barra {
  height: 100%;
  background: linear-gradient(90deg, #ffcc00, #ff6600);
  border-radius: 8px;
}
